body {
    font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
h1,
h2,
p {
    margin: 0;
}

p,
h2,
a {
    color: #fff;
    letter-spacing: 1px;
}

h1 {
    font-size: 48px;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
     background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);;
}

.menu {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    gap: 30px;
    border-radius: 20px;
    background-color: #acacaa3a;
}

.number {
    font-size: 16px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.zirocka {
    font-size: 20px;
}

.item-centre {
    align-items: center;
}
.btn {
    margin: 30px 0px;
    color: #f4d633;
    display: inline-block;
    width: 100%;
    max-width: 280px;
    padding: 14px 57px;
    text-align: center;
    width: 340px;
    border-radius: 35px;
    border: 3px solid #f4d633;
}
.text{
    text-transform: uppercase;
    max-width:700px;
}
.graphic {
    color: #204075;
}

.time {
    font-size: 12px;
    color: #204075;
}

.footer {
    background-color: #f4d633;
}