body {
    font-family: "Roboto Slab", sans-serif;
}

body,
ul,
h1,
h2,
p {
    margin: 0;
}

p,
h2,
a {
    color: #fff;
    letter-spacing: 1px;
}

h1 {
    font-size: 48px;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    padding: 20px 0;
}
.phon{
    padding: 10px;
}
.img {
    position: absolute;
    bottom: -10px;
    right: 0;
}
.img{
    object-fit: cover;
}

body {
    max-height: 60vh;
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
    ;
}
.wrapper {
    max-width: 960px;
    margin: 0px auto;
}
.footb{
    padding: 10px 0 25px;
    font-size: 30px;
}
.menu {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    gap: 30px;
    border-radius: 20px;
    background-color: #acacaa3a;
    padding: 12px 50px ;
}

.number {
    font-size: 16px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zirocka {
    padding: 30px;
    font-size: 20px;
}

.item-centre {
    align-items: center;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #f4d633;
    display: inline-block;
    width: 100%;
    max-width: 280px;
    padding: 21.5px 30px;
    text-align: center;
    max-width: 340px;
    border-radius: 35px;
    border: 3px solid #f4d633;
}

.text {
    padding: 10px 0px;
    text-transform: uppercase;
    max-width: 700px;
}

.hour {
    color: #204075;
}
main{
    position: relative;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    z-index: 1;
}

.logoanrik{
    text-align: right;
    padding:14px 0 30px ;
}
.time {
    font-weight: bold;
    font-size: 12px;
    color: #204075;
}

.graphic {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.footer {
    background-color: #f4d633;
}